html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #ff3c00;
  border-color: #ff3c00;
}

.btn-primary:hover {
  background-color: #d13200;
}

.container {
  margin-top: 60px;
}

footer {
  font-size: 0.9rem;
  color: #6c757d;
  margin-top: auto;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  padding: 1rem 0;
  text-align: center;
}



